﻿<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">MyOSCA Admin Panel</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                        class="fa fa-user"></i> ADMIN <b
                        class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" ng-click="vm.logout()"><i class="fa fa-fw fa-power-off"></i> Log
                            Out</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="active">
                    <a href="#"><i class="fa fa-fw fa-dashboard"></i> App versions and CI</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        App versions and CI
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-dashboard"></i> Dashboard
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Builds Panel
                            </h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                <button type="button" ng-click="vm.buildNow()"
                                        class="btn btn-primary"><i
                                        class="fa fa-rocket" aria-hidden="true"></i> Build Now
                                </button>
                            </p>
                            <h3> Current version: {{vm.builds.currentVersion}} </h3>
                            <div class="list-group">
                                <a ng-repeat="build in vm.builds.versionsList"
                                   class="list-group-item">
                                    <h4><i class="fa fa-fw fa-calendar"></i> Version
                                        {{build.version}}.</h4>
                                    <button type="button" ng-click="vm.getAndroidApk(build.version)"
                                            class="btn btn-primary"
                                            style="margin-bottom:5px; margin-right:5px;"><i
                                            class="fa fa-download"
                                            aria-hidden="true"></i> Get Android APK
                                    </button>
                                    <button type="button" ng-click="vm.getServerJar(build.version)"
                                            class="btn btn-primary"
                                            style="margin-bottom:5px; margin-right:5px;"><i
                                            class="fa fa-download"
                                            aria-hidden="true"></i> Get Server JAR
                                    </button>

                                    <div class="well" style="margin-top:5px; margin-left:20px;">
                                        <div ng-repeat="value in build.changeLog track by $index">
                                            {{value}} <br/>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->